body{
	background:#FAFAFA;
	font-family: 'Merriweather Sans', sans-serif !important;
}
.main-frame{
	margin-top: 60px;
	margin-bottom: 60px;
}
.red-text{
	color:#F00;
	font-weight: bold;
}
.white-content{
	background:#FFF;
	padding: 10px !important;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}
.red-content{
	background: #F44336;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}
a.view_all:link, a.view_all:visited{
	font-size: 12px;
	color: #fff !important;
	line-height: 200%;
}
a.view_all:hover{
	color: #666 !important;
	font-weight: bold;
	text-decoration: none !important;
}
.counter-section{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.feed-top{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.feed-bottom{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background:#FFF;
	padding: 2.5px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}
.red-line{
	border-top:solid #F44336 2px;
}
.margin-top5{
	margin-top: 15px;
}
.comment-content{
	background:#ededed;
	margin-top:1px;
	padding: 10px;
	padding-left: 50px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}
/*customized bootstrap class*/
.navbar{
	background: #FFF;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}
.navbar-brand{
	padding:15px !important;
	font-size: 20px;
	position: fixed;
	height: 51.5px;
}
a.navbar-brand:link{
	color: #F44336 !important;
}
a.navbar-brand:hover{
	color: #ffffff !important;
	background:#F44336!important;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}